:root{
    --primary: #3db36b;
    --secondary: #000;
}
html{
    height: 100%;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
img{ display: inline-block; }
form{
    display: block;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
h1, h2, h3, h4, h5, h6, .font-title{
    font-family: 'Roboto Condensed', sans-serif;
}
address{
    font-style: normal;
}
input, textarea{
    font-family: 'Roboto', sans-serif;
}
.btn{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.8rem 1.6rem;
    background-color: var(--secondary);
    color: #fff;
    border-radius: 0;
    border: none;

}
.btn:hover{
    opacity: 0.9;
}
.form-field{

}

.form-field:focus{
    color: #495057;
    background-color: #fff;
    border-color: #95dbb0;
    outline: 0;
    box-shadow: none;
}

/*common*/
.container{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 .75rem;
}
.main-content{
    padding: 148px 0 0;
}


.page-head{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.main-head{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.main-head .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*sub-head*/
.sub-head{
    background-color: var(--primary);
    color: #fff;
    font-size: 1rem;
}
.sub-head .container{
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    font-size: .94rem;
    /* display: flex;
    justify-content: flex-start; */
    display: grid;
    grid-template-columns: repeat(3, 22%)  auto;
}
.sub-head .label-text{
    font-size: .66rem;
}
.sub-head .tel-num{
    font-weight: 500;
    font-size: 1.3rem;
}
.info{
    display: flex;
    align-items: flex-start;
}
.info + .info{
    margin-left: 2rem;
}
.info svg{
    margin-right: 8px;
    margin-top: 2px;
}
.info-phone{
    margin-left: auto;
}
.info-phone > span{
    display: block;
}
.label-text{
    text-transform: uppercase;
    font-size: .7rem;
}
    /*brand*/
.brand{
    display: flex;
    align-items: center;
}
.brand .logo{
    width: 60px;
    height: auto;
}
.brand h1{
    font-size: 1.74rem;
    line-height: 1;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 500;
    letter-spacing: 0.06rem;
}
.brand h2{
    font-size: 0.78rem;
    letter-spacing: 0.05rem;
    color: var(--secondary);
}
.logo-text{
    margin-left: 8px;
}

/*nav*/
.main-nav{}
.nav-links{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav-links li{
    display: inline-block;
}
.nav-links a{
    display: inline-block;
    text-decoration: none;
    color: var(--secondary);
    padding: 2.2rem 0;
    margin-left: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .9rem;
    letter-spacing: .2rem;
    border-bottom: 6px solid transparent;
    user-select: none;
}
.nav-links a:hover{
    color: var(--primary);
    border-bottom-color: var(--primary);
}



/*hero*/
.hero{
    height: 560px;
    /* background: linear-gradient(180deg, rgb(255 255 255 / 38%), rgb(222 255 222 / 14%)), #f4f4f4 url(../images/slider1920-4.jpg) no-repeat center; */
    background: url(../images/slider1920-4.jpg) no-repeat center;
    background-size: cover;
}
.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.hero-text{
    width: 40%;
}
.hero-text h2{
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary);
    /* text-shadow: 2px 4px 2px rgba(0,0,0,0.2); */
}
.hero-text h3{
    font-size: 1.4rem;
    display: block;
    color: var(--secondary);
    margin-bottom: 1rem;
}
.quick-contact{
    max-width: 320px;
    width: 100%;
    background-color: #fff;
    padding: 2.4rem;
}
.quick-contact h3{
    text-transform: uppercase;
    font-size: 1rem;
}
.quick-contact .form-control{
    margin-top: .9rem;
}
.quick-contact .form-field{
    display: block;
    width: 100%;
    padding: .5rem;
    font-size: .9rem;
    color: var(--secondary);
    border: 1px solid #d3d3d3;
    border-radius: 0;
}
.quick-contact textarea{
    border: 1px solid #d3d3d3;
    padding: 0.5rem;
    display: block;
    resize: vertical;
    outline: transparent;
    font-size: .9rem;
    width: 100%;
}
.quick-contact ::placeholder{
    font-size: .8rem;
    color: #ccc;

}
.quick-contact input[type=submit]{
    display: block;
    width: 100%;
    padding: .9rem 0;
    text-align: center;
    background: var(--primary);
    color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 0;
    outline: transparent;
    font-size: 0.9rem;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.9;
}
.quick-contact input[type=submit]:hover{
    opacity: 1;
}

/*company-info*/
.company-info{
    padding: 6rem 0;
}
.company-info .container{
    display: flex;
    justify-content: space-between;
}
.company-info .col{
    width: 50%;
}
.company-info .info-image{
    display: inline-block;
    width: 100%; 
}
.company-info .info-text{
    padding: 0 3rem;
}
.company-info h2{
    font-size: 2.4rem;
    text-transform: uppercase;
    color: var(--primary);
}
.company-info p{
    font-size: 1.2rem;
}


/*service*/
.service-highlight{
    padding: 6rem 0;
    background-color: #f4f4f4;
}
.service-highlight .container{
    display: flex;
    justify-content: space-between;
}
.service-highlight .card{
    width: 30%;
}
.service-highlight .service-img{
    display: inline-block;
    width: 100%;
    height: auto;
}
.service-highlight .card-body{
    padding: .8rem;
}
.service-highlight h3{
    font-size: 1.6rem;
    color: var(--primary);
}
.service-highlight p{
    font-size: 1.1rem;
}
.service-highlight a{
    display: block;
    text-decoration: none;
    color: var(--secondary);
}
.service-highlight .card:hover{
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
}
.service-highlight .card:hover h3{
    text-decoration: underline;
    color: var(--secondary);
}

/*collaborations*/
.collaborations{
    padding: 4rem 0;
    background-color: #f4f4f4;
}
.collaborations .container{
    display: flex;
    justify-content: space-between;
}
/*footer*/
.page-footer{
    padding: 4rem 0 2rem;
    color: #fff;
    background-color:var(--primary)
}
.page-footer .container{
    display: flex;
    justify-content: space-between;
}
.page-footer .address{
    width: 40%;
}
.page-footer .col{
    width: 20%;
}
.page-footer .col h4{
    font-size: 1.2rem;
}
.links{
    margin: 1rem 0 0;
    padding: 0;
    list-style-type: none;
}
.links a{
    text-decoration: none;
    color: #fff;
}
@media (max-width: 540px){
    /* .service-highlight{
        padding: 2rem 0;
    }
    .service-highlight .container{
        display: block;
    }
    .service-highlight .card{
        width: 100%;
    }
    .service-highlight a{
        display: flex;
        align-items: flex-start;
    }
    .service-highlight .card-header{
        flex: 0 0 auto;
        width: 40%;
    } */

    
}
@media (max-width: 1024px){

    
}