html {
    box-sizing: border-box;
    font-size: 16px;
}
*{ font-family: inherit; }
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, .font-title{
    font-family: 'Roboto Condensed', sans-serif;
}
ol, ul {
    list-style: none;
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
/*base*/
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}
a{
    text-decoration: none;
}
/*site*/
