:root{
    --primary: #3db36b;
    --secondary: #000;
    --text-primary: #fff;
    --text-secondary: #000;
}
html {
    box-sizing: border-box;
    font-size: 16px;
}
*{ font-family: inherit; }
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, .font-title{
    font-family: 'Roboto Condensed', sans-serif;
}
ol, ul {
    list-style: none;
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
input,textarea{
    display: inline-block;
    outline: transparent;
}
/*base*/
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    padding: .6rem 2rem;
    background-color: var(--primary);
    color: #fff;
    text-decoration: none;
    font-size: .94rem;
}
input.btn{
    border: none;
    cursor: pointer;
}
h2.sec-title{
    color: #000;
    font-size: 1.8rem;
    padding: 0 0 1rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary);
}


/*site*/
.page-header{
    position: sticky;
    top: 0;
    z-index: 9;
}

/*sub-head*/
.sub-head{
    background-color: var(--primary);
    color: #fff;
}
.sub-head .container{
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0;
}
.sub-head .info{
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.sub-head .label-text{
    font-size: .66rem;
    text-transform: uppercase;
    font-size: .6rem;
}
.sub-head .tel-num{
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
}
.sub-head .info.booking a{
    color: #fff;
}
.sub-head .info.email{
    background-color: #23d080;
    display: none;
}
.sub-head .info.timing{
    background-color: #3db980;
    display: none;
}
.sub-head .info.booking{
    background-color: #24a76a;
}
.sub-head .info.phone{
    background-color: #00c74e;
}
.main-head{
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
}
.main-head .container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    position: relative;
}
.brand{
    display: flex;
    align-items: center;
    flex-flow: column;
}
.brand .logo{
    width: 60px;
    height: auto;
}
.brand h1{
    font-size: 1.4rem;
    line-height: 1;
    text-transform: uppercase;
    color: var(--primary);
}
.brand h2{
    font-size: 0.67rem;
    color: var(--secondary);
}
.logo-text{
    margin-left: 8px;
}

.main-nav{
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    width: 200px;
    padding: 2rem 1.4rem;
    background-color: var(--primary);
    z-index: 1;
    visibility: hidden;
    transition-property: left, visibility;
    transition-duration: 0.3s;
}
.main-nav.active{
    visibility: visible;
    left: 0;
}
.nav-links{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav-links li{
    margin-bottom: 1.2rem;
}
.nav-links a{
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .9rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    user-select: none;
}
.nav-links a:hover{
    color:  #fff;
}
.bg-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 0;
    display: none;
}
.main-nav.active + .bg-overlay{
    display: block;
    visibility: visible;
    opacity: 1;
    animation: bgAnim 0.3s forwards;
}
@keyframes bgAnim{
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.nav-btn{
    position: absolute;
    right: .8rem;
    top: .8rem;
    display: inline-block;
    width: 16px;
    color: var(--primary);
    background-color: currentColor;
    height: 2px;
}
.nav-btn::before,
.nav-btn::after{
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: currentColor;
}
.nav-btn::before{
    top: -4px;
}
.nav-btn::after{
    bottom: -4px;
}
.nav-btn.close{
    top: 1rem;
    color: #fff;
    background-color: transparent;
}
.nav-btn.close::before{
    top: 0;
    transform: rotate(45deg);
}
.nav-btn.close::after{
    bottom: 0;
    transform: rotate(-45deg);
}
/*hero*/
.hero{
    background: url(../images/slider1920-4.jpg) no-repeat center;
    background-size: cover;
}
.hero .container{
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .quick-contact{
    display: none;
}
.hero-text{
    padding: 0 2rem;
    text-align: center;
}
.hero-text h2{
    font-size: 2.1rem;
    color: var(--primary);
    text-transform: uppercase;
} 
.hero-text h3{
    color: #000;
    font-size: 1.4rem;
    margin: 0 0 1rem;
} 
/*highlight*/
.page-highlight{
    background-color: #f4f4f4;
    padding: 2rem 0;
}
.page-highlight .highlights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 2rem;
}
.page-highlight .card{
    background-color: #fff;
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
}
.page-highlight .card-body{
    padding: 1rem;
}
.page-highlight h3{
    color: var(--primary);
    font-size: 1.6rem;
}
.page-highlight p{
    line-height: 1.4;
    margin: 1rem 0;
}
/*about*/
.page-about{
    background-color: #fff;
    padding: 2rem 0;
}
.page-about .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.page-about h2{
    color: var(--primary);
    font-size: 1.8rem;
}
.page-about p{
    line-height: 1.4;
    font-size: 1rem;
}
/*appointment*/
.appointment{
    padding: 2rem 0;
}
.appointment .booking-form{
    width: 100%;
}
.appointment-form{
    padding: 0 .6rem;
}
.appointment .contacts{
    color: #000;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.appointment .contacts a{
    color: #000;
}
.appointment-address{
    padding: 0.6rem;
}
.appointment-address h6{
    color: var(--primary);
    font-size: .86rem;
}
.appointment .form-control{
    margin-bottom: 1rem;
}
.appointment label{
    font-size: .7rem;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 500;
}
.appointment .field-input {
    width: 100%;
    font-size: 1rem;
    padding: .6rem;
    border: 1px solid #cccccc;
}
.appointment ::placeholder{
    font-size: .9rem;
}
.appointment textarea{
    min-height: 140px;
    resize: vertical;
}

/*map*/
.map{
    padding: 0 0 2rem;
}
.google-map{
    position: relative;
    padding-bottom: 80%;
    height: 0;
    overflow: hidden;
}
.google-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/*collaboration*/
.page-collaboration{
    background-color: #f4f4f4;
    padding: 3rem 0;
}
.page-collaboration .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 2rem;
    justify-items: center;
    justify-content: center;
}

/*footer*/
.footer-main{
    background-color: var(--primary);
    color: var(--text-primary);
    padding: 3rem 0;
}
.footer-main .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.footer-copyright{
    background-color: #6dffa6;
    font-size: .8rem;
    padding: .8rem 0;
    text-align: center;
    color: #000;
}
.page-footer .col{
    font-size: .9rem;
}
.page-footer .col + .col{
    margin-top: 2rem;
}
.page-footer address{
    font-style: normal;
}
.page-footer h4 + p{
    margin-bottom: 1rem;
}
.page-footer h4{
    position: relative;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.page-footer h4::after{
    position: absolute;
    content: '';
    bottom: -6px;
    left: 0;
    width: 30px;
    height: 4px;
    background-color: #fff;
}
.page-footer a{
    color: #fff;
}
.page-footer .timings p span{
    display: block;
    font-size: 1rem;
}

@media only screen and (min-width: 560px) {
    h2.sec-title{
        font-size: 2.4rem;
    }
    .sub-head .container{
        font-size: .94rem;
        height: 60px;
    }
    .sub-head .info.timing{
        display: flex;
    }
    .sub-head .label-text{
        font-size: .7rem;
    }
    .sub-head .tel-num{
        font-size: 1.3rem;
    }
    .brand h1{
        font-size: 1.9rem;
    }
    .brand h2{
        font-size: 0.91rem;
    }

    .main-nav{
        position: static;
        height: auto;
        width: auto;
        padding: 0;
        visibility: visible;
        background-color: transparent;
    }
    .nav-links{
        display: block;
        padding: 1rem 0 .4rem;
    }
    .nav-links li{
        display: inline-block;
        margin-bottom: 0;
    }
    .nav-links li + li{
        margin-left: .8rem;
    }
    .nav-links a{
        display: inline-block;
        text-decoration: none;
        color: var(--secondary);
        text-transform: uppercase;
        font-weight: 500;
        font-size: .8rem;
        padding: 0 0 0.2rem;
        letter-spacing: .12rem;
        border-bottom: 4px solid transparent;
    }
    .nav-links a:hover{
        color: var(--primary);
        border-bottom-color: var(--primary);
    }
    .bg-overlay{
        display: none !important;
    }
    .nav-btn{
        display: none;
    }
    .hero .container{
        height: 94vh;
    }
    .hero-text h2{
        font-size: 3.6rem;
    } 
    .hero-text h3{
        font-size: 2rem;
    } 
    .page-highlight{
        padding: 5rem 0;
    }
    .page-about{
        padding: 5rem 0;
    }
    .page-about .info-text{
        padding: 0 3rem;
    }
    .page-about h2{
        color: var(--primary);
        font-size: 2.4rem;
    }
    .page-about p{
        font-size: 1.2rem;
    }
    .map{
        padding: 2rem 0 4rem;
    }
    .google-map{
        padding-bottom: 40%;
    }
    .appointment-form{
        padding: 0 1.6rem;
    }
    .appointment-address{
        padding: 2rem;
    }
    .appointment .contacts{
        font-size: 1.2rem;
    }
 

    .footer-main .container{
        grid-template-columns: minmax(280px, 2fr) repeat(auto-fit, minmax(120px, 1fr));
    }
    .page-footer .col + .col{
        margin-top: 0;
    }
    
    
}

@media only screen and (min-width: 1024px) {
    .sub-head .info.email{
        display: flex;
    }
    .brand{
        flex-flow: row;
        padding: 0;
    }
    .main-head .container{
        flex-flow: row;
        justify-content: space-between;
        padding: 0 1rem;
    }
    .nav-links{
        padding: 0;
    }
    .nav-links li + li{
        margin-left: 1.2rem;
    }
    .nav-links a{
        padding: 2.2rem 0;
        font-size: .9rem;
        letter-spacing: .2rem;
        border-bottom: 6px solid transparent;
    }
    .appointment .booking-form{
        display: flex;
        width: 80%;
    }
    .appointment .booking-form > div{
        width: 50%;
    }
    
}