:root{
    --primary: #3db36b;
    --secondary: #000;
    --text-primary: #fff;
    --text-secondary: #000;
}
html {
    box-sizing: border-box;
    font-size: 16px;
}
*{ font-family: inherit; }
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, .font-title{
    font-family: 'Roboto Condensed', sans-serif;
}
ol, ul {
    list-style: none;
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
input,textarea{
    display: inline-block;
    outline: transparent;
}
/*base*/
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 1em;
    padding-right: 1em;
}
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    padding: .6rem 2rem;
    background-color: var(--primary);
    color: #fff;
    text-decoration: none;
    font-size: .94rem;
}
input.btn{
    border: none;
    cursor: pointer;
}

/*site*/



@media only screen and (min-width: 560px) {
    
}

@media only screen and (min-width: 1024px) {
    
    
}